<!DOCTYPE html>
<html>
<head>
  <title>GoForm</title>
  <meta charset="utf-8"/>
</head>
<body>
<form method="post" action="/createUsers">
  Username: <input type="text" name="userName" autofocus/><br/>
  Firstname: <input type="text" name="firstName"/><br/>
  Email: <input type="text" name="lastName"/><br/>
  Password: <input type="password" name="password"/><br/>
  <input type="submit" value="Add"/>
</form>
</body>
</html>